body {
    background: url(IMG/planodefundo.png), linear-gradient(45deg, rgba(106, 210, 224, 1) 0%, rgba(166, 90, 227, 1) 65%, rgba(255, 171, 0, 1) 100%);
    background-attachment: fixed;
    background-size: cover;
}


#login {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

@media(min-width: 768px) {
    #logo {
        width: 200px;
    }
}
